.text-primary{
    color:blueviolet!important;
}
.bg-primary, .btn-primary{
    background:blueviolet!important;
}


.text-secondary{
    color:goldenrod!important;
}
.bg-secondary, .btn-secondary{
    background:goldenrod!important;
}

.imgHome{
    display: block;
    width: 50%;
    margin: 0 auto;
}